{# src/blog/noteBundle/Resources/views/layout.html.twig #}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" >

<head>

  	{% block stylesheets %}
    	{# On charge le CSS de bootstrap depuis le site directement #}
    	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  	{% endblock %}
	{% block title %}<title>Notepad ECAM</title>{% endblock %}
</head>
<body>
	{% block note_content %}{% endblock %}
</body>
